/* Features
============================================================ */
.features {
  height: 600px;
  padding-left: 111px;
  font-size: 0;
  text-align: left;
}

.tab,
.features-main,
.features-image {
  display: inline-block;
  height: 600px;
  vertical-align: top;
}

.tab div {
  height: 110px;
  width: 112px;
  padding-top: 45px;
  margin-right: 118px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(0,0,0);
  border-radius: 4px;
  color: rgb(255,255,255);
}

.tab div:hover {
  background-color:rgb(236, 121, 121);
}

.tab div:first-child {
  margin-top: 125px;
}

.tab div:nth-child(2) {
  margin: 10px 0;
}

.features-title {
  margin-top: 126px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: rgb(0,0,0);
}

.features-text {
  width: 572px;
  margin-top: 58px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color:rgb(134, 135, 139);
}

.features-text-end {
  width: 572px;
  margin-top: 23px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color:rgb(134, 135, 139);
}

.features button {
  margin-top: 89px;
  background: rgb(0,0,0);
  border: none;
  color: rgb(255, 255, 255);
}

.features button:hover {
  background: rgb(236, 121, 121);
}

.features-image{
  width: 320px;
  height: 253px;
  margin: 100px 0 0 50px;
  background-image: url(../img/Feautures-Tower.png);
}
