/* banner content
======================================================================================================== */

.footer__banner {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/banner-main.png) no-repeat;
  background-size: cover;
  padding: 75px 0 40px;
  text-align: center;
}

.footer-banner__title {
  position: relative;
  margin-top: 60px;
  margin-bottom: 35px;
  font-family: 'Raleway', 'sans-serif';
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.footer-banner__title::before {
  content: '';
  position: absolute;
  top: 65px;
  left: calc(50% - 34px);
  width: 65px;
  height: 2px;
  background-color: #ffffff;
}

.footer-banner__subtitle {
  margin: 70px 0 35px;
  color: #ffffff;
  opacity: 80%;
  font-size: 16px;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 400;
  text-align: center;
}

.footer-button__download {
  border: 1px solid #ffffff;
  padding: 10px 25px;
  width: 135px;
  background: none;
  color: #ffffff;
  text-align: center;
}

.footer-button__download:hover {
  transition-property: all;
  transition-duration: 0.5s;
  color: #000000;
  background-color: #ffffff;
}

