/*Header
=========================================================== */

.header {
  width: 1400px;
  height: 601px;
  font-size: 0;    
  text-align: left;
  background: url(../img/bunner-header.png);    
}

.background-mask {
  width: 100%;
  height: 100%;
  font-size: 0;
  background: rgba(0, 0, 0, 0.45);
}

.left-section-header,
.right-section-header {
  display: inline-block;
  width: 50%;
  height: 601px;
}

.left-section-header {
  padding-left: 110px;
}

.right-section-header {
  padding-left: 219px;
  vertical-align: top;
}

.header-title {
  padding-top: 109px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 60px;
  text-transform: uppercase;
  color:rgb(255, 255, 255);
}

.header__subtitle {
  width: 544px;
  margin: 32px 0;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.header-subtitle::before {
  content: '';
  position: absolute;
  top: 310px;
  left: calc(10% - 25px);
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}

.header-subtitle--left::before {
  left: 0;
}


.header-text {
  width: 282px;
  margin: 39px 0;
  font-family: Raleway;
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.header button {
  margin: 0;
}

.form--fields {
  width: 370px;
  height: 370px; 
  margin-top: 111px;
  border-radius: 0px 0px 8px 8px;
  background-color:rgb(255, 255, 255);
}

.form--fields span {
  text-transform: uppercase;
  color:rgb(255,0,0);
}

.form--fields div input {
  height: 57px; 
  width: 252px;
  font-weight: normal;
  font-size: 14px;
  border: none;
  background: transparent;
  border-bottom: 3px solid rgb(189, 189, 189);
}

.username {
  margin-top: 28px;
}

.form--fields div {
  height: 57px;
  text-align: center;
}

.password {
  margin-bottom: 61px;
}

.form--fields p {
  height: 56px;
  padding-top:18px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: rgb(51, 51, 51);
}

.form--signin-button {
  width: 370px;
  height: 54px;
  font-weight: 600;
  font-size: 15px;
  color:rgb(255, 255, 255);
  background-color:rgb(236, 121, 121);
  border: none;
  border-radius: 0px 0px 8px 8px;
}
