body { 
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

nav {
  height: 70px;
  background: #000000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* navigation content 
=========================================================================================== */

.navigation-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.navigation-bar__img {
  margin: 20px 0;
}

.navigation-bar__menu {
  display: flex;
  flex-wrap: wrap;
  width: 505px;
  justify-content: space-between;
  margin: 25px 0;
  padding-right: 108px;
}

.navigation-bar__menu_text {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 70%;
  font-weight: 600;
  font-size: 15px;
}

.navigation-bar__menu_item,
.navigation-bar__menu_item:active,
.navigation-bar__menu_item:visited {
  transition-property: all;
  transition-duration: 0.2s;
}

.navigation-bar__menu_item:hover {
  transform: scale(1.3, 1.3);
}

/*  Burger =======
======================================*/

.menu-btn {
  position: absolute;
  z-index: 1;
  display: none;
  top: calc(50% - 14px);
  right: 0;
  width: 30px;
  height: 28px;
  cursor: pointer;
}

.menu-btn__burger {
  position: absolute;
  top: 13px;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
  opacity: 70%;
}

.menu-btn__burger:before {
  content: '';
  position: absolute;
  top: -10px;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
  opacity: 70%;
}

.menu-btn__burger:after {
  content: '';
  position: absolute;
  top: 10px;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
  opacity: 70%;
}

/* header content 
====================================================================== */

.banner {
  height: 601px;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/bunner-header.png) no-repeat;
  background-size: cover;
}

.banner-content {
  position: relative;
  z-index: 1;
  padding-top: 110px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.banner-content__main {
  width: 545px;
}

.banner h2 {
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 32px;
  text-transform: uppercase;
  position: relative;
}

.banner h2::before{
  content: '';
  position: absolute;
  top: 100px;
  left: calc(50% - 270px);
  width: 65px;
  height: 2px;
  background-color: #ffffff;
}

.banner-content__main-text {
  width: 225px;
  color: #ffffff;
  opacity: 80%;
  font-weight: 300;
  margin-top: 65px;
  margin-bottom: 40px;
  font-size: 16px;
}

.button-download {
  display: block;
  border: 1px solid #ffffff;
  padding: 10px 25px;
  width: 135px;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-download:hover {
  transition-property: all;
  transition-duration: 0.5s;
  background-color: black;
  opacity: 80%;
}

.form-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
 }

.form__fields {
  border-radius: 8px 8px 8px 8px;
  background-color:rgb(255, 255, 255);
}

.form__fields span {
  text-transform: uppercase;
  color:rgb(255,0,0);
}

.form__fields div input {
  width: 252px;
  font-weight: normal;
  font-size: 14px;
  border: none;
  background: transparent;
  border-bottom: 3px solid rgb(189, 189, 189);
}

.username {
  margin-top: 28px;
}

.form__fields div {
  height: 57px;
  text-align: center;
}

.password {
  margin-bottom: 61px;
}

.form__fields p {
  height: 56px;
  padding-top:18px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: rgb(51, 51, 51);
}

.form__signin-button {
  width: 370px;
  height: 54px;
  font-weight: 600;
  font-size: 15px;
  color:rgb(255, 255, 255);
  background-color:rgb(236, 121, 121);
  border: none;
  border-radius: 0px 0px 8px 8px;
}

/* social media comtent
============================================================================== */

.social {
  padding: 15px 0;
  background: #F8EFEF;
  }

.social .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-text {
  width: 365px;
}

.social-text__title {
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}
.social-text__main-text {
  font-weight: 400;
  margin-top: 14px;
  color: #86878B;
}

.social-media {
  width: 685px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: auto;
  flex-wrap: wrap;
}
.social-media__item {
  font-size: 42px;
}

.social-media__icon,
.social-media__icon:visited,
.social-media__icon:active {
  color: #cccccc;
  transition-property: all;
  transition-duration: 0.3s;
  text-decoration: none;
  }

.social-media__icon:hover {
  transform: scale(1.2, 1.2);
}

/* main content 
=============================================================== */
.features {
  padding: 15px 0;
}

.features-container {
  display: flex;
  margin: 110px 0 auto;
}

.features__tabs {
  display: flex;
  flex-direction: column;
  margin-right: 118px;
}

.features__tab {
  width: 112px;
  margin: 5px 0;
  padding: 45px 0 45px;
  background: #333333;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.features__tab:hover {
  background: #ec7979;
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.features__title {
  margin-bottom: 58px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}

.features__text {
  flex-grow: 1;
}

.features__paragraph {
  margin-bottom: 19px;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #86878b;
}

.features__button {
  width: 135px;
  padding: 11px;
  background: #EC7979;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}

.features__button:hover {
  background: black;
  transform: scale(1.1, 1.1);
}

/* awsome content 
======================================================================== */

.awesome-title {
  position: relative;
  margin: 100px 0 65px;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

.awesome-title::before{
  content: '';
  position: absolute;
  top: 25px;
  left: calc(50% - 25px);
  width: 65px;
  height: 2px;
  background-color: red;
}
.awesome-text {
  margin-bottom: 60px;
  color: #86878B;
  font-weight: 400;
  text-align: center;
}

.awesome-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.awesome-card__item {
  width: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 0 10px 10px;
}

.awesome-card__item:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}

.awesome-card__circle {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D98943;
}

.awesome-card__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

.awesome-card__text {
  line-height: 20px;
  text-align: center;
}

/* pricing content
============================================================================= */

.pricing {
  background: #f5f5f5;
  padding: 15px 0;
  margin-top: 110px;
}

.pricing__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.pricing__title {
  position: relative;
  margin: 80px 0 65px;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

.pricing__title::before{
  content: '';
  position: absolute;
  top: 50px;
  left: calc(50% - 26px);
  width: 65px;
  height: 2px;
  background-color: red;
}

.pricing__subtitle {
  margin: 0 auto 65px;
  text-align: center;
  color: #86878B;
}

.pricing-card {
  width: 340px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 30px;
  margin: 0 10px 10px;
  list-style-type: none;
}

.pricing-card__index {
  position: relative;
  margin: -10px;
  padding: 20px;
}

.pricing-card__space {
  width: 340px;
  margin-bottom: 4px;
  padding: 10px 0;
  color: #86878B;
  text-align: center;
  background-color: #FFFFFF;
}

.pricing-card__title {
  margin-bottom: 1px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #333333;
}

.pricing-card__price {
  margin-bottom: 2px;
  padding-top: 25px;
  padding-bottom: 35px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
}

.pricing-card__subtitle {
  width: 340px;
  margin-bottom: 4px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #333333;
}

/* banner content
======================================================================================================== */

.footer__banner {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/img/banner-main.png) no-repeat;
  background-size: cover;
  padding: 75px 0 40px;
  text-align: center;
}


/* footer content
============================================================================================ */

.footer {
  height: 80px;
  background-color: black;
}

.social__media-footer {

}

.copyright {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 0;
  text-align: center;
}
