/* axit logo small
============================================================== */

@media (max-width: 970px){
  
}


/* registration
==============================================================  */

@media (max-width: 970px){

  .banner-content__main {
    display: flex;
    flex-direction: column;
  }

  .form__fields {
    width: 100%;
    display: block;
  }
}

/* burger 
============================================================== */

@media (max-width: 970px){
  .navigation-bar__menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

/* features content 
=========================================================== */

@media (max-width: 765px) and (max-width: 992px) {
  .features-container {
    flex-direction: column;
    margin: 0;
  }

  .features__tabs {
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
  }

  .features__tab {
    margin: 0 5px;
  }

  .features__content {
    align-items: center;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .features__title {
    margin-bottom: 15px;
  }

  .features__image-container {
    text-align: center;
  }
}

@media (max-width: 334px) {
  .features__image-container {
    display: none;
  }
}
