@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');



@media (min-width: 992px) and (max-width: 1199px) {
  .features-container {
    flex-direction: column;
    margin: 0;
  }

  .features__tabs {
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
  }

  .features__tab {
    margin: 0 5px;
  }

  .features__content {
    align-items: center;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .features__title {
    margin-bottom: 15px;
  }

  .features__image-container {
    text-align: center;
  }

  .navigation-bar__menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .text-area {
    padding: 0;
  }

  .comment__information {
    display: flex;
    flex-direction: column;
  }

  .persons-comments {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .features-container {
    flex-direction: column;
    margin: 0;
  }

  .features__tabs {
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
  }

  .features__tab {
    margin: 0 5px;
  }

  .features__content {
    align-items: center;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .features__title {
    margin-bottom: 15px;
  }

  .features__image-container {
    text-align: center;
  }

  .navigation-bar__menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .text-area {
    padding: 0;
  }

  .comment__information {
    display: flex;
    flex-direction: column;
  }

  .persons-comments {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .features-container {
    flex-direction: column;
    margin: 0;
  }

  .features__tabs {
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
  }

  .features__tab {
    margin: 0 5px;
  }

  .features__content {
    align-items: center;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .features__title {
    margin-bottom: 15px;
  }

  .comment__information  {
    display: flex;
    flex-direction: column;
  }

  .persons-comments {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .features-container {
    flex-direction: column;
    margin: 0;
  }

  .features__tabs {
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
  }

  .features__tab {
    margin: 0 5px;
  }

  .features__content {
    align-items: center;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .features__title {
    margin-bottom: 15px;
  }

  .features__image-container {
    text-align: center;
  }

  .navigation-bar__menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .text-area {
    padding: 0;
  }

  .comment__information {
    display: flex;
    flex-direction: column;
  }

  .persons-comments {
    display: flex;
    flex-direction: column;
  }
}



