/* Default style
======================================================================== */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.wrap {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  font-family:'Open Sans', sans-serif;
  text-align: center;
}

.name-default {
  padding-top: 80px;   
  font-size: 36px;
  font-weight: normal;
  font-family: Raleway,sans-serif;
  text-transform: uppercase;
  color:rgb(33, 33, 33);
}

.line-default {
  width: 64px;
  height: 2px;
  margin: 34px auto 34px;
  background-color:rgb(231, 36, 36);
  border:none;
}

.subtitle-default {
  font-weight: normal;
  font-size: 14px;
  color: rgb(134, 135, 139);
}

button:hover {
  background:rgb(0,0,0);  
  cursor: pointer;    
}

.primary-title::before {
  content: '';
  position: absolute;
  top: 95px;
  left: calc(50% - 25px);
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
}

.primary-title--left::before {
  left: 0;
}
